body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-image: url("../img/test_bg.jpg");
  background-size: 100%;
}

h1 {
  color: ghostwhite;
}

input {
  padding:5px;
  width: 80px;
  color: black;
  border-radius: 3px;
}

#Progress {
  position: relative;
  width: 30%;
  height: 11px;
  background-color: ghostwhite;
  border-radius: 6px;
  margin: auto;
}

#Bar {
  width: 1%;
  position: absolute;
  height: 100%;
  background-color: lawngreen;
  border-radius: 6px;
}

#input {
  width: 160px;
}
