body {
  position: static;
  font-family: 'Poppins', sans-serif;
  font-size: 15pt;
  text-align: center;
  background-image: url("../img/test_bg.jpg");
  background-size: 150%;
  color: #001a1a;
}

h1 {
  color: ghostwhite;
}

div.big {
  font-size: 20pt;
}

div.normal {
  font-size: 15pt;
}

input {
  padding:5px;
  width: 80px;
  color: #001a1a;
  border-radius: 3px; 
  box-shadow: none;
}

input[type=range]:focus {
    outline: none;
}

#Progress {
  position: relative;
  width: 30%;
  height: 4px;
  background-color: #ffffe6;
  border-radius: 2px;
  margin: auto;
}

#Bar {
  width: 1%;
  position: absolute;
  height: 100%;
  background-color: lawngreen;
  border-radius: 6px;
}

#input {
  width: 160px;
}

input:hover {
  border-color: #008080;
  cursor: pointer;
}
